{%extends "base.html"%}

{%block title%}Depo Giriş Formları{%endblock%}

{%block content%}
{% if current_user.isadmin %}

<div id="tablecontainer" data-order='[[ 1, "asc" ]]' data-page-length='10' style="margin-top: 1%; margin-left: 2%; margin-right:2%;">
    <h2 class="form-signin-heading" style="text-align:center; color:white;">Form Malzeme Hareketleri</h2>
    <span style="display:block; height: 10px;"></span>
    <button id="updateFormBtn" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#formStockFilterModal">Filtrele</button>
    <span style="display:block; height: 15px;"></span>
    <div class="table-responsive">
        <table id="stockformstable" class="table table-striped table-hover table-sm" style="background-color:white;">
          <thead>
            <tr>
              <th scope="col">Op.</th>
              <th scope="col">Mazeme Türü</th>
              <th scope="col">Renk</th>
              <th scope="col">Miktar</th>
              <th scope="col">Miktar Birimi</th>
              <th scope="col">Paket Miktarı</th>
              <th scope="col">Paket Miktarı Birimi</th>
              <th scope="col">Kullanıcı Adı</th>
              <th scope="col">Şirket İsmi</th>
              <th scope="col">Hareket Tipi</th>
              <th scope="col">Form Adı</th>
              <th scope="col">Ambar Adı</th>
              <th scope="col">Araç Bilgileri</th>
              <th scope="col">Açıklama</th>
              <th scope="col">Tarih</th>
            </tr>
          </thead>
          <tbody>
            {%for base in bases%}
              <tr>
                  {% if base.action %}
                  <td data-title="Giriş" style="vertical-align: middle;">
                    <i class="fas fa-arrow-left" data-toggle="tooltip" title="Giriş"></i>
                  </td>
                  {% else %}
                  <td data-title="Çıkış" style="vertical-align: middle;">
                    <i class="fas fa-arrow-left" data-toggle="tooltip" title="Çıkış"></i>
                  </td>
                  {% endif %}
                  <td style="vertical-align: middle;">{{base.stocktypename}}</td>
                  <td style="vertical-align: middle;">{{base.stockcolorname}}</td>
                  <td style="vertical-align: middle;">{{base.quantity}}</td>
                  <td style="vertical-align: middle;">{{base.quantityunit}}</td>
                  <td style="vertical-align: middle;">{{base.packagequantity}}</td>
                  <td style="vertical-align: middle;">{{base.packagequantityunit}}</td>
                  <td style="vertical-align: middle;">{{base.username}}</td>
                  <td style="vertical-align: middle;">{{base.corporationname}}</td>
                  <td style="vertical-align: middle;">{{base.actiontype}}</td>
                  <td style="vertical-align: middle;">
                  {% if base.action %}
                    <a href="/editincomingstockform/{{base.formid}}">{{base.formname}}</a>
                  {% else %}
                    <a href="/editoutgoingstockform/{{base.formid}}">{{base.formname}}</a>
                  {% endif %}
                  </td>
                  <td style="vertical-align: middle;">{{base.stockroomname}}</td>
                  <td style="vertical-align: middle;">{{base.shipinfo}}</td>
                  <td style="vertical-align: middle;">{{base.note}}</td>
                  <td style="vertical-align: middle;">{{base.createdate.strftime('%d-%m-%Y %H:%M:%S')}}</td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>

    <span style="display:block; height: 30px;"></span>
</div>

{% include 'modals/formstockfiltermodal.html' %}

{%block script%}

<script type="text/javascript" src="../static/js/formstockmoves.js"></script>

{%endblock%}

{% else %}

<div class="alert alert-danger" role="alert" style="margin-top: 1%; margin-left: 3%; margin-right:3%; display: block;">
  Bu sayfayı görüntülemeye yetkiniz yok!
</div>
{% endif %}
{%endblock%}