{%extends "base.html"%}

{%block title%}Depo Giriş Formları{%endblock%}

{%block content%}
{% if current_user.isadmin %}

<div id="tablecontainer" style="margin-top: 1%; margin-left: 2%; margin-right:2%;">
    <h2 class="form-signin-heading" style="text-align:center; color:white;">Depo Giriş Formları</h2>
    <span style="display:block; height: 10px;"></span>
    <div class="table-responsive">
        <table id="stockformstable" class="table table-striped" data-order='[[0, "asc"]]' data-page-length='10'>
          <thead>
            <tr>
              <th scope="col">Form Adı</th>
              <th scope="col">Kullanıcı</th>
              <th scope="col">Malzemenin Geldiği Yer</th>
              <th scope="col">Malzeme Sayısı</th>
              <th scope="col">Tarih</th>
              <th class="min" scope="col">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            {%for f in forms%}
              <tr>
                  <td>
                      <a href="/editincomingstockform/{{f.formid}}">{{f.name}}</a>
                  </td>
                  <td>{{f.username}}</td>
                  <td>{{f.corporationname}}</td>
                  <td>{{f.incomingstocksquantity}}</td>
                  <td>{{f.recorddate.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                  <td class="min">
                      <div class="d-flex flex-nowrap">
                          <div class="btn-group">
                              <button type="button" class="btn btn-primary downloadBtn" data-formid="{{f.formid}}" data-toggle="tooltip" title="Formu İndir"><i class="fas fa-search"></i></button>
                              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openadvancedpdfmenu('{{f.formid}}')" href="#">Düzenle</a>
                              </div>
                          </div>
                          <span style="display: inline; width: 5px;"></span>
                          <button class="btn btn-info" onclick="copyforminfoclicked('{{f.formid}}')" data-toggle="tooltip" title="Form Bilgilerini Kopyala"><i class="far fa-copy"></i></button>
                          <span style="display: inline; width: 5px;"></span>
                          <button class="btn btn-danger deleteBtn" data-formid="{{f.formid}}" data-toggle="tooltip" title="Formu Sil"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
    <span style="display:block; height: 30px;"></span>
</div>

<!-- Delete Incoming Stock Form Modal -->
<div id="stockFormDeleteModal" data-id="-1" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="stockTypeModalTitle" class="modal-title">Depo Giriş Formunu Sil</h4>
        <button type="button" data-dismiss="modal"  class="close">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="form" style="margin:0">
            <div class="form-group" style="margin-left: 0; margin-right: 0;">
              <h5>Formu silmek istediğinizden emin misiniz?</h5>
              <p>Depo giriş formu ve giriş formu altında eklenmiş olan bütün malzemeler silinecektir.</p>
           </div>
          <button id="stockFormDeleteModalActionButton" onclick="deleteForm()" type="button" class="btn btn-primary btn-block" style="margin-top:3%;">Depo Giriş Formunu Sil</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger">Kapat</button>
      </div>

    </div>
  </div>
</div>

<!-- PDF Row Form Modal -->
<div id="pdfRowModal" data-id="-1" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="pdfRowModalTitle" class="modal-title">Form Belgesini Düzenle</h4>
        <button type="button" data-dismiss="modal" class="close">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="form" style="margin:0">
            <label for="rowinput">Satır Sayısı</label>
            <input id="rowinput" class="form-control" type="text" value="18" placeholder="Satır Sayısı">
            <button id="pdfColumnModalActionButton" onclick="downloadAdvanced()" data-id="-1" type="button" class="btn btn-primary btn-block" style="margin-top:3%;">Formu İndir</button>
         </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger">Kapat</button>
      </div>

    </div>
  </div>
</div>

{% else %}

<div class="alert alert-danger" role="alert" style="margin-top: 1%; margin-left: 3%; margin-right:3%; display: block;">
  Bu sayfayı görüntülemeye yetkiniz yok!
</div>
{% endif %}
{%endblock%}

{%block script%}
<script type="text/javascript" src="../static/js/incomingstockforms.js"></script>
{%endblock%}