{%extends "base.html"%}

{%block title%}Depo Giriş Formları{%endblock%}

{%block content%}
{% if current_user.isadmin %}

<div id="tablecontainer" data-order='[[ 1, "asc" ]]' data-page-length='10' style="margin-top: 1%; margin-left: 2%; margin-right:2%;">
    <h2 class="form-signin-heading" style="text-align:center; color:white;">Depo Hareketleri</h2>
    <span style="display:block; height: 10px;"></span>
    <div class="table-responsive">
        <table id="stockstable" class="table table-striped" style="background-color:white;">
          <thead>
            <tr>
              <th scope="col">Op.</th>
              <th scope="col">Mazeme Türü</th>
              <th scope="col">Renk</th>
              <th scope="col">Miktar</th>
              <th scope="col">Kullanıcı Adı</th>
              <th scope="col">Girdi Tipi</th>
              <th scope="col">Hareket Tipi</th>
              <th scope="col">Form Adı</th>
              <th scope="col">Tarih</th>
            </tr>
          </thead>
          <tbody>
            {%for base in bases%}
              <tr>
                  <td style="vertical-align: middle;">
                    {% if base.action %}
                    <i class="fas fa-arrow-left" data-toggle="tooltip" title="Giriş"></i>
                    {% else %}
                    <i class="fas fa-arrow-right" data-toggle="tooltip" title="Çıkış"></i>
                    {% endif %}
                  </td>
                  <td style="vertical-align: middle;">{{base.stocktypename}}</td>
                  <td style="vertical-align: middle;">{{base.stockcolorname}}</td>
                  <td style="vertical-align: middle;">{{base.quantity}}</td>
                  <td style="vertical-align: middle;">{{base.username}}</td>
                  <td style="vertical-align: middle;">{{base.entrytype}}</td>
                  <td style="vertical-align: middle;">{{base.actiontype}}</td>
                  <td style="vertical-align: middle;">
                      {% if base.entry %}
                        {% if base.action %}
                            <a href="/editincomingstockform/{{base.formid}}">{{base.formname}}</a>
                        {% else %}
                            <a href="/editoutgoingstockform/{{base.formid}}">{{base.formname}}</a>
                        {% endif %}
                      {% else %}
                        {{base.formname}}
                      {% endif %}
                  </td>
                  <td style="vertical-align: middle;">{{base.createdate.strftime('%d-%m-%Y %H:%M:%S')}}</td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
    <span style="display:block; height: 30px;"></span>
</div>

{%block style%}
<style>

</style>

{%endblock%}

{%block script%}
<script>
$( document ).ready(function()
{
     getDataTable('stockstable');
});
</script>
{%endblock%}


{% else %}

<div class="alert alert-danger" role="alert" style="margin-top: 1%; margin-left: 3%; margin-right:3%; display: block;">
  Bu sayfayı görüntülemeye yetkiniz yok!
</div>
{% endif %}
{%endblock%}