{%extends "base.html"%}

{%block title%}Depo Malzeme Durumu{%endblock%}

{%block content%}
{% if current_user.isadmin %}

<div id="tablecontainer" style="margin-top: 1%; margin-left: 2%; margin-right:2%;">
    <h2 class="form-signin-heading" style="text-align:center; color:white;">Depo Malzeme Durumu</h2>
    <span style="display:block; height: 10px;"></span>
    <div class="table-responsive">
        <table id="stockstable" class="table table-striped" data-order='[[0, "asc"]]' data-page-length='10'>
          <thead>
            <tr>
              <th scope="col">Malzeme Adı</th>
              <th scope="col">Malzeme Rengi</th>
              <th scope="col">Malzeme Miktarı</th>
              <th scope="col">Miktar Birimi</th>
              <th class="min" scope="col">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            {%for stock in stocks%}
              <tr>
                  <td>{{stock.getStockTypeName()}}</td>
                  <td>{{stock.getStockColorName()}}</td>
                  <td>{{stock.getFormattedQuantity()}}</td>
                  <td>{{stock.getStockUnitName()}}</td>
                  <td class="min">
                      <div class="d-flex flex-nowrap">
                          <button class="btn btn-primary" data-toggle="tooltip" title="Malzemeyi Düzenle" onclick="openStockEntryModalForUpdate('{{stock.id}}', '{{stock.stocktypeid}}', '{{stock.stockcolorid}}', '{{stock.getStockUnitId()}}','{{stock.quantity}}')"><i class="fas fa-external-link-alt"></i></button>
                          <span style="display: inline; width: 5px;"></span>
                          <button class="btn btn-danger" data-toggle="tooltip" title="Malzemeyi Sil" onclick="openStockEntryModalForDelete('{{stock.id}}', '{{stock.stocktypeid}}', '{{stock.stockcolorid}}', '{{stock.getStockUnitId()}}','{{stock.quantity}}')"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
    <span style="display:block; height: 10px;"></span>

    <button type="button" class="btn btn-primary btn-block" onclick="openStockEntryModalForAdd()">Depoya Malzeme Ekle</button>

    <span style="display:block; height: 30px;"></span>
</div>

{% include 'modals/depotstockentrymodal.html' %}

{% else %}

<div class="alert alert-danger" role="alert" style="margin-top: 1%; margin-left: 3%; margin-right:3%; display: block;">
  Bu sayfayı görüntülemeye yetkiniz yok!
</div>

{% endif %}
{%endblock%}

{%block style%}
<style>
    form {
        margin-left: 10%;
        margin-right:10%;
    }
</style>
{%endblock%}

{%block script%}
<script type="text/javascript" src="../static/js/stocks.js"></script>
{%endblock%}
