{%extends "base.html"%}

{%block title%}Test Template{%endblock%}

{%block content%}
{% if current_user.isadmin %}

<div id="tablecontainer" class="container" style="margin-top: 1%; margin-left: auto; margin-right:auto;">
    <h2 class="form-signin-heading" style="text-align:center; color:white;">Veri Yönetimi</h2>
    <span style="display:block; height: 10px;"></span>

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example"><input type="datetime-local">
          <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" class="btn btn-primary" aria-pressed="true">Malzeme Cinsi</button>
          <button type="button" class="btn btn-primary" aria-pressed="true">Malzeme Rengi</button>
          <button type="button" class="btn btn-primary" aria-pressed="true">Şirket</button>
          <button type="button" class="btn btn-primary active" aria-pressed="true">Ambalaj</button>
          <button type="button" class="btn btn-primary" aria-pressed="true">Malzeme Birimi</button>
        </div>
    </div>

    <span style="display:block; height: 10px;"></span>
    <div class="collapse" id="collapseExample" aria-expanded="true">

        <h4 class="form-signin-heading" style="text-align:center; color: white;">Depo Durumu</h4>
        <span style="display:block; height: 6px;"></span>
        <div class="table-responsive">
        <table id="stockstable" class="table table-striped" style="background-color:white;">
          <thead>
            <tr>
              <th scope="col">Malzeme Adı</th>
              <th scope="col">Malzeme Rengi</th>
              <th scope="col">Malzeme Miktarı</th>
              <th scope="col">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            {%for stock in stocks%}
              <tr>
                  <td>{{stock.getstocktypename()}}</td>
                  <td>{{stock.getstockcolorname()}}</td>
                  <td>{{stock.getquantitytext()}}</td>
                  <td>
                      <div>
                            <button class="btn btn-info content_itemBtn" data-formid="{{stock.id}}" data-toggle="tooltip" title="Formu İndir"><i class="fas fa-search"></i></button>
                            <button class="btn btn-danger delete_itemBtn" data-formid="{{stock.id}}" data-toggle="tooltip" title="Formu Sil"><i class="fa fa-trash"></i></button>
                      </div>
                  </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>


    </div>

</div>

{% else %}

<div class="alert alert-danger" role="alert" style="margin-top: 1%; margin-left: 3%; margin-right:3%; display: block;">
  Bu sayfayı görüntülemeye yetkiniz yok!
</div>
{% endif %}
{%endblock%}

{%block style%}
<style>
    form {
        margin-left: 10%;
        margin-right:10%;
    }


    .delete_itemBtn {
        background-color: #f01e00;
        border: none;
        color: white;
        padding: 6px 14px;
        font-size: 16px;
        cursor: pointer;
    }

    /* Darker background on mouse-over */
    .delete_itemBtn:hover {
        background-color: #dd0000;
    }
    .content_itemBtn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 6px 12px;
        font-size: 16px;
        cursor: pointer;
    }

    /* Darker background on mouse-over */
    .content_itemBtn:hover {
        background-color: RoyalBlue;
    }
</style>
{%endblock%}

{%block script%}
<script>
$(document).ready(function()
{
   $('#collapseExample').collapse('show');
});
</script>
{%endblock%}
